@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: white;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2 {
  font-weight: inherit;
}

.page-header {
  background-color: #f74c55;
  font-size: 21px;
  height: 496px;
  overflow: hidden;   /*для устранения "выпадания" margin потомков*/
  background-image: url("img/ellipse.svg");
  background-repeat: no-repeat;
  background-position: 50% 35%;
  background-size: 175%;
}

.logo {
  font-family: 'Permanent Marker', sans-serif;
  font-size: 67px;
  position: absolute;
  top: -10px;
}

.main-menu {
  text-transform: uppercase;
  margin-top: 33px;
}

.main-menu ul {
  list-style: none;
  text-align: right;
  margin-right: 35px;
}

.main-menu li {
  display: inline-block;
  margin-left: 25px;
}

.header-block {
  margin-left: 45%;
}

.header-block h1 {
  font-size: 53px;
  margin-top: 20%;
}

.header-block .button {
  margin-top: 25px;
}

.header-block a, .promo a {
  font-size: 32px;
  font-weight: normal;
  border: 2px solid white;
  border-radius: 6px;
  padding: 0 25px;
}

.main-info {
  color: black;
  min-height: 448px;
}

.main-info h2 {
  font-size: 40px;
  margin: 87px 64px auto 92px;
}

.main-info p {
  font-size: 19px;
  margin-top: 32px;
  margin-left: 92px;
}

.main-info p::after {
  content: '';
  display: block;
  background-image: url("img/color.svg");
  background-repeat: no-repeat;
  height: 32px;
  margin-top: 60px;
  margin-left: 3px;
}

.features {
  min-height: 304px;
  background: linear-gradient(to right, #404040 50%, #2d5f3b 50%);}

.features article {
  display: inline-block;
  width: 33.33%;
  padding: 4% 3% 3% 3%;
}

.features h3 {
  font-size: 29px;
  font-weight: normal;
}

.features h3::before {
  margin-right: 15px;
  padding-top: 10px;
  content: "";
  height: 36px;
  width: 39px;
  float: left;
}

.features p {
  font-size: 19px;
  margin-top: 26px;
  margin-bottom: 15px;
}

.features a {
  font-size: 45px;
  font-weight: 900;
  background-color: black;
  opacity: 0.5;
  margin-left: 80%;
  padding: 0 15px;
}

.feature1 {
  background-color: #404040;
}

.feature1 h3::before {
  background: url("img/statistic-up.svg") no-repeat;
}

.feature2 h3::before {
  background: url("img/ipad.svg") no-repeat;
}

.feature3 h3::before {
  background: url("img/upload.svg") 0px 7px no-repeat;
}

.feature2 {
  background-color: #f74c55;
}

.feature3 {
  background-color: #2d5f3b;
}

.promo {
  background-color: #1e090a;
  background-image: url("img/promo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% auto;
  text-align: center;
  height: 673px;
  line-height: 673px; /*для вертикального выравнивания содержимого*/
}

.promo h2 {
  font-size: 56px;
  margin-bottom: 53px;
}

.promo strong {
  font-weight: bold;
}

.page-footer {
  font-size: 21px;
  color: black;
  text-align: center;
  height: 70px;
  line-height: 70px; /*для вертикального выравнивания содержимого*/
}

.page-footer::before {
  content: '';
  display: block;
  height: 9px;
  background-image: url("img/color.svg");
  background-repeat: repeat-x;
  background-size: 178px;
  background-position: -30px;
}

.promo .container, .page-footer p { /*для вертикального выравнивания*/
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}
