#gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.buttons {
	position: fixed;
	left: 20%;
}
button {
	padding: 5px 10px;
}
img {
	margin: 50px 10px 10px;
	width: 30%;
}
img:first-child {
	border: 5px solid green;
}
